@font-face {
    font-family: "Sekuya";
    src: url("../fonts/Sekuya-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfdfdf;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}


.container {
    width: 100%;
    width: 1366px;
    margin: 0 auto;   
    margin-top: 30px;
    
}

img {
    width: 100px;
}


.header-color {
    max-width: 50%;
    margin: 100px auto 0;
    height: 150px;
    background-color: #0000ad; 
    border-radius: 20px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content {
    max-width: 50%;
    margin: 30px auto 0;
    text-align: center;
}


.days-carousel {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.day {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;

    display: flex;           
    flex-direction: column;
    align-items: center; 
    gap: 4px;
}

.day span {
    font-size: 14px;
}

.day.active {
    opacity: 1;
    border-bottom: 3px solid #000;
}

.day strong {
    font-weight: 400;
}

button {
    font-family: inherit;
}